__pycache__
*.egg-info
wan_models
.vscode/
ckpts
.claude
trained_ckpts
*.sh
datasets/
result*
vgen_results/
debug/
simulation/image23D/repvit_sam.pt
test
slurm_logs/
.ruff_cache
.claude
sim_tmp
demo_web_old
demo_web/demo_data/**/sim_tmp
codex.arxiv
submodules/sam2/checkpoints/*.pt
submodules/sam_3d_objects/checkpoints/
